<include href="views/navBar.html">

    <link rel="stylesheet" href="styles/personInfo.css" type="text/css">

    <div class="container">
        <form action="results" method="post">
            <h1 class="h1Profile">Interests</h1>

            <div class="checks"><span class="label">In-door Interests</span> </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="tv" id="tv" name="doorInter">
                    <label class="form-check-label" for="tv">
                        TV
                    </label>
                </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="movies" id="movies" name="doorInter">
                    <label class="form-check-label" for="movies">
                        Movies
                    </label>
                </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="board games" id="boardGame" name="doorInter">
                    <label class="form-check-label" for="boardGame">
                        Board Games
                    </label>
                </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="cooking" id="cooking" name="doorInter">
                    <label class="form-check-label" for="cooking">
                        Cooking
                    </label>
                </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="puzzles" id="puzzle" name="doorInter">
                    <label class="form-check-label" for="puzzle">
                        Puzzles
                    </label>
                </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="reading" id="reading" name="doorInter">
                    <label class="form-check-label" for="reading">
                        Reading
                    </label>
                </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="playing cards" id="playingCards" name="doorInter">
                    <label class="form-check-label" for="playingCards">
                        Playing Cards
                    </label>
                </div>

                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="video games" id="videoGames" name="doorInter">
                    <label class="form-check-label" for="videoGames">
                        Video Games
                    </label>
                </div>

            <div class="checks"><span class="label">Out-door Interests</span> </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="hiking" id="hiking" name="doorInter">
                <label class="form-check-label" for="hiking">
                    Hiking
                </label>
            </div>

            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="biking" id="biking" name="doorInter">
                <label class="form-check-label" for="biking">
                    Biking
                </label>
            </div>

            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="swimming" id="swimming" name="doorInter">
                <label class="form-check-label" for="swimming">
                    Swimming
                </label>
            </div>

            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="collecting" id="collecting" name="doorInter">
                <label class="form-check-label" for="collecting">
                    Collecting
                </label>
            </div>

            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="walking" id="walking" name="doorInter">
                <label class="form-check-label" for="walking">
                    Walking
                </label>
            </div>

            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="climbing" id="climbing" name="doorInter">
                <label class="form-check-label" for="climbing">
                    Climbing
                </label>
            </div><hr>
            <button class="btn btn-primary" type="submit">Next >></button>
        </form>
    </div>
    <!-- jQuery first, then Popper.js, Bootstrap JS then personal validation script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>