<include href="views/navBar.html">
    <!--
    * @author Oleg Rovinskiy
    * @date 1/18/2020
    * @url https://github.com/orovinskiy/Dating
    * This page gathers the basic info about the user
    -->

    <link rel="stylesheet" href="styles/personInfo.css" type="text/css">

    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12">
                    <fieldset class="form-group">
                        <h1>Personal Info</h1><hr>

                        <div class="form-group">
                            <label for="firstName">
                                <span class="label">First Name<span class="error"> *{{ @error['fName'] }}</span></span>
                            </label>
                            <input type="text" value="{{ @firstName }}" class="form-control"
                                   id="firstName" name="firstName" placeholder="Enter First Name" maxlength="60">
                        </div>

                        <div class="form-group">
                            <label for="lastName">
                                <span class="label">Last Name<span class="error"> *{{ @error['lName'] }}</span></span>
                            </label>
                            <input type="text" class="form-control" id="lastName" name="lastName"
                                   placeholder="Enter Last Name" value="{{ @lastName }}" maxlength="80">
                        </div>

                        <div class="form-group">
                            <label for="age">
                                <span class="label">Age<span class="error"> *{{ @error['age'] }}</span></span>
                            </label>
                            <input type="number" class="form-control" id="age" name="age"
                                   placeholder="Enter Age" value="{{ @age }}" maxlength="3">
                        </div>

                        <div><span class="label">Gender</span>
                            <div class="form-group row ml-2" >
                                <repeat group="{{@gender}}" value="@gend">
                                    <div class="form-check col-6">
                                        <input class=" form-check-input" type="radio"
                                        <check if=" {{ @method == @gend }}">
                                            checked
                                        </check>name="method" id="{{ @gend }}" value="{{ @gend }}" >
                                        <label class="form-check-label" for="{{ @gend }}">
                                            {{ @gend }}
                                        </label>
                                    </div>
                                </repeat>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="number">
                                <span class="label">Phone Number<span class="error"> *{{ @error['number'] }}</span></span>
                            </label>
                            <input type="text" class="form-control" id="number" name="number"
                                   placeholder="Enter Phone Number" value="{{ @number }}" maxlength="10">
                        </div>

                    </fieldset>
                </div><!-- Column -->
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="alert alert-dark">
                        <p><strong>Note:</strong> All information entered is
                            protected by our <a href="#">privacy policy</a>. Profile information
                            can only be viewed by others with your permission.
                        </p>
                    </div>
                </div><!-- Column -->
            </div><!-- Row -->
            <button class="btn btn-primary" type="submit">Next >></button>
        </form>
    </div><!-- Container -->

    <!-- jQuery first, then Popper.js, Bootstrap JS then personal validation script-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>