<include href="views/navBar.html">

    <link rel="stylesheet" href="../styles/personInfo.css" type="text/css">

    <div class="container">
        <form action="" method="post">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-12">
                    <fieldset class="form-group">
                        <h1>Personal Info</h1><hr>

                        <div class="form-group">
                            <label for="firstName"><span class="label">First Name</span></label>
                            <input type="text" class="form-control " id="firstName" name="firstName" placeholder="Enter First Name">
                        </div>

                        <div class="form-group">
                            <label for="lastName"><span class="label">Last Name</span></label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter Last Name">
                        </div>

                        <div class="form-group">
                            <label for="age"><span class="label">Age</span></label>
                            <input type="text" class="form-control" id="age" name="age" placeholder="Enter Age">
                        </div>

                        <label id="format"><span class="label">Gender</span>
                            <div class="form-group row ml-2" >
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" name="method" id="male" value="male" >
                                    <label class="form-check-label" for="male">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check col-6">
                                    <input class="form-check-input" type="radio" name="method" id="female" value="female">
                                    <label class="form-check-label" for="female">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </label>

                        <div class="form-group">
                            <label for="number"><span class="label">Phone Number</span></label>
                            <input type="text" class="form-control" id="number" name="number" placeholder="Enter Phone Number">
                        </div>

                    </fieldset>
                </div><!-- Column -->
                <div class="col-lg-4 col-md-5 col-12">
                    <div class="alert alert-dark">
                        <p><strong>Note:</strong> All information entered is
                            protected by our <a href="#">privacy policy</a>. Profile information
                            can only be viewed by others with your permission.
                        </p>
                    </div>
                </div><!-- Column -->
            </div><!-- Row -->
            <button class="btn btn-primary" type="submit">Next >></button>
        </form>
    </div><!-- Container -->
</body>
</html>