.label{
    font-weight: bold;
}

fieldset{
    padding: 1em;
    margin-top: 2%;
}
div .alert{
    margin-top: 2.5%;
}

button{
    float: right;
}

#h1Profile{
    margin-top: 3%;
}
