.label{
    font-weight: bold;
}

fieldset{
    padding: 1em;
    margin-top: 2%;
}
div .alert{
    margin-top: 2.5%;
}

button{
    float: right;
}

.h1Profile{
    margin-top: 3%;
}

.checks{
    margin-top: 2.5%;
    margin-bottom: 1%;
}

div.form-check-inline{
    width: 115px;
    margin-right: 3%;
}