/*
* @author Oleg Rovinskiy
* @date 1/18/2020
* @url https://github.com/orovinskiy/Dating
* This is the stylesheet for the result page
*/
.bio{
    width: 80%
}

.final{
    margin-top: 2%;
}

button{
    margin-left: 40%;
    margin-top: 3%;
}

.bord{
    border: 1px solid lightgray;
    padding: 3%;
}

img{
    border-radius: 5%;
}