/*
 * @author Oleg Rovinskiy
 * @date 1/18/2020
 * @url https://github.com/orovinskiy/Dating
 * This is a stylesheet for home.html
 */
h2{
    text-align: center;
    font-weight: lighter;
    margin-bottom: 2%;
}

img{
    border-radius: 1%;
}

.header{
    text-align: center;
}

#p-head{
    margin: 2% 10%;
}

.comments{
    font-style: italic;
}

.row{
    margin-top: 3%;
}

.homeBtn{
    width: 150px;
    height: 40px;
    margin: 3% 35%;
}

body{
    background-color: rgb(228, 228, 228);
}